---
layout: blog
title: "Reducing Suffering: блог"
---
За новостями проекта можно следить в соцсетях: <a href="https://vk.com/reducing_suffering">ВКонтакте</a>, <a href="https://t.me/reducing_suffering">Telegram</a>.<br>
<hr>

<div class="posts">
{% for post in site.posts %}
  <div class="post-in-frame">
    {% if post.article %}
	{% assign article = site.articles | where: "name", post.article | first %}
	{% include post-head.html article=article link=true %}
    <div class="post-content">
      {{ article.content | markdownify }}
	  {{ article.title }}
	  {{ post.content }}
    </div>
    {% include article-links.html article=article %}
	{% else %}
    {% include post-head.html post=post link=true %}
    <div class="post-content">
      {{ post.content }}
    </div>
    {% include post-links.html post=post %}
	{% endif %}
	{% include post-bottom.html post=post %}
  </div>
{% endfor %}
</div>