---
layout: blog
title: "Reducing Suffering: блог"
nav_id: 1
---
За новостями проекта можно следить в соцсетях: <a href="https://vk.com/reducing_suffering">ВКонтакте</a>, <a href="https://t.me/reducing_suffering">Telegram</a>.<br>
<hr>

<div class="posts">
{% for post in site.posts %}
  <div class="post-in-frame">
    {% include post-head.html post=post with_link=true %}
    <div class="post-content">
      {{ post.content }}
    </div>
    {% include post-links.html post=post %}
    {% include post-bottom.html post=post %}
  </div>
{% endfor %}
</div>