---
layout: none
---

<!DOCTYPE html>

<html lang="ru">

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta property="og:title" content="Сколько нейронов на планете?">
  <meta property="og:locale" content="ru">
  <meta property="og:site_name" content="Reducing Suffering">
  <meta property="og:url" content="reducingsuffering.github.io/test.html">
  <meta property="og:type" content="article">
  <meta property="og:description" content="В статье Джорджии Рэй числу нейронов (нервных клеток) на нашей планете дается оценка в 1024 – 3 ∙ 1024. Число 1024 называют «септиллион» — это единица с 24-мя нолями. Насколько...">
  <meta property="og:image" content="reducingsuffering.github.io/assets/images/wall/nerve-cells-2213009_1280.jpg">
  <meta property="og:image:width" content="968">
  <meta property="og:image:height" content="504">
  
  <title>
	Сколько нейронов на планете?
  </title>
  
  <link rel="canonical" href="reducingsuffering.github.io/test.html">
  
  <link rel="stylesheet" href="/assets/css/poole.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/lanyon.css">
  <link rel="stylesheet" href="/assets/css/my.css">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"><script async src="https://www.googletagmanager.com/gtag/js?id=G-CZTR6P99H5"></script>
</head>

<body>
  <div class="masthead">
    <div class="container">
	  <table style="margin: 0; padding: 0">
		<tr>
		  <td rowspan="2" width="120px"><img src="/assets/images/picture.png" style="float: right"></td>
          <td><h3 class="masthead-title" style="margin: 0; padding: 0"><a href="/index.html">Reducing Suffering</a></h3></td>
		  <td rowspan="2" class="additional-cell"></td>
		</tr>
		<tr>
		  <td style="margin: 0; padding: 0"><p class="navigation">
<a href="index.html">главная</a> &middot; 
<a href="blog.html">блог</a> &middot; 
<a href="tags.html">поиск</a> &middot; 
<a href="links.html">ссылки</a>
</p></td>
		</tr>
	  </table>
	</div>
  </div>

**Эта страница предназначена только для тестирования сайта администратором.**

<hr>

Статьи:<br>

{% for article in site.articles %}
<a href="{{ article.url }}">{{ article.title }}</a><br>
{% endfor %}

<hr>

{% assign years = "2023" %}
{% for post in site.posts %}
  {% assign year = post.date | date: "%Y" %}
  {% assign years = years | append: ',' | append: year %}
{% endfor %}
{% assign years = years | split: "," | uniq %}<br>
{{ years[2] }}<br>

{{ site.posts | map: "date" | date: "%Y" }}

</html>