---
layout: none
---

<head>
  <meta property="og:title" content="Сколько нейронов на планете?">
  <meta property="og:locale" content="ru">
  <meta property="og:site_name" content="Reducing Suffering">
  <meta property="og:url" content="reducingsuffering.github.io/test.html">
  <meta property="og:type" content="article">
  <meta property="og:description" content="В статье Джорджии Рэй числу нейронов (нервных клеток) на нашей планете дается оценка в 1024 – 3 ∙ 1024. Число 1024 называют «септиллион» — это единица с 24-мя нолями. Насколько...">
  <meta property="og:image" content="reducingsuffering.github.io/assets/images/wall/nerve-cells-2213009_1280.png">
  <meta property="vk:image" content="reducingsuffering.github.io/assets/images/wall/nerve-cells-2213009_1280.png">
  <meta property="og:image:width" content="968">
  <meta property="og:image:height" content="504">
</head>

<body>

**Эта страница предназначена только для тестирования сайта администратором.**

<hr>

Статьи:<br>

{% for article in site.articles %}
<a href="{{ article.url }}">{{ article.title }}</a><br>
{% endfor %}

<hr>

{% assign years = "2023" %}
{% for post in site.posts %}
  {% assign year = post.date | date: "%Y" %}
  {% assign years = years | append: ',' | append: year %}
{% endfor %}
{% assign years = years | split: "," | uniq %}<br>
{{ years[2] }}<br>

{{ site.posts | map: "date" | date: "%Y" }}

</body>