<div class="masthead">
  <div class="container">
    <table style="margin: 0; padding: 0">
      <tr style="margin: 0; padding: 0">
        <td style="margin: 0; padding: 0"><h1 class="masthead-title" style="margin: 0; padding: 0"><a href="index.html" style="text-decoration: none; color: #151130">{{ include.title }}<br><small style="text-decoration: none; color: #151130">{{ include.subtitle }}</small></a></h1>
        <br>
        </td>
      </tr>
      <tr style="margin: 0; padding: 0"><td style="margin: 0; padding: 0"><div class="masthead-title" style="text-decoration: none; color: #151130">{{ include.date }} &#8195 <b><a href="{{ site.baseurl }}/tags.html#{{ include.author | replace: " ", "_" }}" style="text-decoration: none; color: #151130">{{ include.author }}</a></b></div></td></tr>
	</table>
  </div>
</div>
