{% if include.post.link_to %}{% unless include.post.included %}
<div>
  {% if include.post.relative %}
  <a href="{{ include.post.link_to | relative_url }}">
  {% else %}
  <a href="{{ include.post.link_to }}">
  {% endif %}
    <div class="container">
      <table style="width: 100%; font-size: 22px; font-weight: bold; margin: 0">
	    <tr><td>{% if include.post.meta_tags contains "видео" %}смотреть{% else %}читать&nbsp;дальше{% endif %}</td>
		<td style="float: right; font-weight: normal; color: rgb(100, 100, 180)">{% if include.post.authors %}{{ include.post.authors | join: ", " }}{% else %}{{ include.post.source }}{% endif %}</td></tr>
	  </table>
      {% if include.post.preview %}<img src="{% if include.post.preview_here %}{{ include.post.preview | relative_url }}{% else %}{{ include.post.preview }}{% endif %}" alt="{{ include.post.title }}" style="width: 100%" onerror="this.onerror=null; width=0; height=0">{% endif %}
    </div>
  </a>
</div>
{% else %} 
{% endunless %}
{% endif %}

{% if include.post.archive %}<br>
<a href="{{ include.post.archive }}">Запасная ссылка</a>
{% endif %}

{% if include.post.original %}
<hr>
<span class="post-tags">
  Оригинал: <a href="{{ include.post.original }}">{{ include.post.original }}</a><br>
</span>
{% endif %}