<div class="post-entry">
  <span class="post-title">
    <a href="{{ post.url | relative_url }}">{{ include.post.title }}{% if include.post.authors %} | {{ include.post.authors | join: ", " }}{% endif %}{% if include.post.source %} | {{ include.post.source }}{% endif %}</a>
  </span><br>
  {% if include.post.date %}
  <span class="post-date-inline">{{ include.post.date | date: "%Y.%m.%d" }}</span>&nbsp;
  {% endif %}
  {% if include.post.tags %}
  <span class="post-tags-inline">
    {% include list-of-tags.html tags=include.post.tags %}
  </span>
  {% endif %}
</div>

{% if include.post.vk %}<a href="{{ include.post.vk }}"><i class="fa-brands fa-vk" aria-hidden="true"></i></a>{% endif %}
{% if include.post.telegram %}<a href="{{ include.post.telegram }}"><i class="fa-brands fa-telegram" aria-hidden="true"></i></a>{% endif %}