a {
  color: #0000A7;	
}

.post-entry {
  margin-bottom: 1em;
}
.post-content {
  margin-bottom: 1em;
}
.post-in-frame {
  margin-bottom: 1em;
  padding: 1% 2% 1% 2%;
  border: 0.05em solid rgb(180, 180, 180);
  background-color: rgb(250, 250, 250);
}
.page-title,
.post-title {
  font-family:verdana
}
.page-title-inline,
.post-title-inline {
  display: inline;
  margin-top: 0;
}
.post-title-colored {
  font-family:verdana;
  color: #303030;
}
.post-title-colored a {
  color: #0000A7;
}
.post-author {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #808080;
}
.post-date-inline {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
.post-tags {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #303030;
}
.post-tags-inline {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #303030;
  font-family:verdana;
  font-size:16px;
}
.post-meta-tags {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #B22222;
}

.masthead {
  padding-top:    1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
}
.masthead-title,
.masthead-title a {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #00008B;
  font-weight: bold;
}
.masthead-subtitle,
.masthead-subtitle a {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #505050;
}

.underline {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 1;
}

.ulcirc {
  list-style-type: circle;
}

.contents {
  background-color: rgb(247, 247, 250);
  padding: 1% 3% 1% 3%;
  border: 0.05em solid rgb(140, 140, 140);
}

.navigation, 
.navigation a {
  text-align: center;
  font-size:18px;
  color: #505050;
}

/* Body text */
p {
  text-align: justify;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0rem;
  margin-right: 0rem;
  color: rgb(110, 110, 110);
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: .5rem;
    padding-left: 1.25rem;
  }
}