<!DOCTYPE html>

<html lang="en-us">

{% include head.html %}

<body>
  <div class="wrap">
	<div class="masthead">
      <div class="container">
	    <table>
		<tr>
		<td><img src="/assets/images/picture.png" style="float: right"></td>
        <td><div style="float: left"><h3 class="masthead-title"><a href="{{ '/index.html' | relative_url }}">Reducing Suffering</a></h3>
		<h4 class="masthead-subtitle"><b>об уменьшении страданий на русском языке</b></h4></div></td>
        
		</tr>
		</table>
	  </div>
    </div>
	<div class="container content">
      {{ content }}
    </div>
  </div>
</body>

<hr>
{% include navigation.html %}

</html>